{%extends "basic.html"%}

{%block main%}
    <section class="login" id="login">
        <div class="login-wrapper">
            <div class="login-container">
                <div class="login-text">
                    <div class="login-title">
                        <h1>Успешная регистрация</h1>
                    </div>
                </div>
                <div class="login-form">
                    <p>Регистрация прошла успешно</p>
                </div>
            </div>
        </div>
    </section>
{%endblock%}